<div class="card flex">
    <img class="creativity-ilustration" src="/creativity-ilustration.svg" alt="Ilustração de Pessoa Criativa">

    <div class="right">
        <h2>Por que estudar com a gente?</h2>
        <p>Temos o espaço mais completo para quem deseja estudar, sem ter que alternar entre apps e sites, ou pagar caro por isso. Nossa curadoria analisa os cursos da comunidade, e tira tudo que é desinformação. Garantimos seu aprendizado e segurança, e incentivamos que compartilhe aquilo que você sabe!</p>
        <div class="button flex">
            <p>Comunidade</p>
            <div class="arrow flex">></div>
        </div>
    </div>
</div>
