<footer class="bg flex">
    <div class="left flex">
        <div class="flex">
            <img src="/logomarca.png" alt="Logomarca NS" width="105px">
            Nexus Studium
        </div>
        <div class="flex">
            <div class="socialMedia flex">
                <img src="" alt="logo">
            </div>
            <div class="socialMedia flex">
                <img src="" alt="logo">
            </div>
            <div class="socialMedia flex">
                <img src="" alt="logo">
            </div>
        </div>
    </div>
    <div class="right flex">
        <div class="courses">
            <h3>Cursos</h3>
            <ul>
                <li><a href="">Marketing</a></li>
                <li>
                    <a href="">Programação</a>
                </li>
                <li>
                    <a href="">Fotografia</a>
                </li>
                <li>
                    <a href="">Empreendedorismo</a>
                </li>
                <li>
                    <a href="">Design</a>
                </li>
            </ul>
        </div>
        <div class="info">
            <h3>Informações</h3>
            <ul>
                <li><a href="">Sobre Nós</a></li>
                <li><a href="">Termos e Condições</a></li>
                <li><a href="">Perguntas Frequentes</a></li>
                <li><a href="">Privacidade</a></li>
                <li><a href="">Pagamento</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contatos</h3>
            <ul>
                <li><a href="">(11) 91234-5678</a></li>
                <li><a href="">(11) 91234-5678</a></li>
                <li><a href="">email&#64;email.com</a></li>
            </ul>
        </div>
        
    </div>
</footer>