* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    margin-left: 350px;
    padding: 50px;
    color: #E8F4FC;
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.nav {
    justify-content: space-between;
    width: 100%;
}

.left, .right {
    gap: 20px;
}

svg {
    fill: #E8F4FC;
    width: 40px;
}

.notification {
    width: 30px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.bg-search {
    width: 350px;
    height: 40px;
    background-color: #E8F4FC;
    border: 1px solid #202850;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #202850;
}

.search-button svg {
    fill: #777;
    width: 20px;
    margin-right: 20px;
}

.search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 17.35px;
    cursor: pointer;
}

.search-input {
    all: unset;
    border: none;
    width: 320px;
    font-size: 20px;
}

.progress {
    justify-content: flex-start;

}

.progress ul {
    list-style-type: none;
    gap: 35px;
    
}
.progress ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #E8F4FC50;
}

.activated {
    color: #E8F4FC;
}

.actual-courses {
    flex-wrap: nowrap;
}

.actual-courses, .more-info {
    gap: 35px;
    width: 100%;
    justify-content: space-between;
}

.card {
    justify-content: space-between;
    align-items: flex-start;
    min-width: 180px;
    height: 180px;
    background-color: #202850;
    border-radius: 20px;
    flex-direction: column;
    padding: 30px;
}

.icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #E8F4FC40;
    justify-content: center;
}

.icon svg {
    fill: #202850;
    width: 30px;
}

.course-data {
    justify-content: space-between;
    width: 100%;
}

.following {
    max-width: 40%;
    height: 100%;
}

.following h3, .daily-goals h3, .topics h3, .exercises h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.masters, .all-goals, .recent-topics {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.masters {
    gap: 30px;
}

.master img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.right {
    max-width: 50%;
}

.daily-goals {
    margin-bottom: 25px;
}

.all-goals {
    gap: 30px;
}

.daily {
    background-color: #202850;
    justify-content: space-between;
    padding: 10px 20px;
    border-left: 7px solid #9747FF;
    border-radius: 10px;
}

.goal-data p {
    font-size: 12px;
    margin-top: 10px;
}

.recent-topics {
    gap: 10px;
}

.topic, .exercise {
    background-color: #202850;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
}

.bg-svg {
    background-color: #E8F4FC30;
    border-radius: 50%;
    margin-right: 10px;
}

.topic svg, .exercise svg {
    width: 20px;
    padding: 10px;
}

.top {
    justify-content: space-between;
    font-size: 10px;
}

.exercise {
    gap: 20px;
}

.exercise-data p {
    font-size: 12px;
}

.subject {
    background-color: #9747FF;
    padding: 5px 10px;
    border-radius: 20px;
}

.exercises {
    width: 100%;

}

.recent-exercises {
    justify-content: space-between;
}