<div class="main flex">
    <h2>Cursos Populares</h2>
    <div class="cards flex">
        <div class="card-course flex">
            <img class="left-icon" src="" alt="">
            <div class="text">
                <h3>UX/UI Design</h3>
                <p>Aprenda do básico ao avançado sobre conceitos de User Experience e User Interface, criando
                    wireframes, desenhando protótipos, entre outras coisas.</p>
            </div>
        </div>
        <div class="card-course flex">
            <img class="left-icon" src="" alt="">
            <div class="text">
                <h3>UX/UI Design</h3>
                <p>Aprenda do básico ao avançado sobre conceitos de User Experience e User Interface, criando
                    wireframes, desenhando protótipos, entre outras coisas.</p>
            </div>
        </div>
        <div class="card-course flex">
            <img class="left-icon" src="" alt="">
            <div class="text">
                <h3>UX/UI Design</h3>
                <p>Aprenda do básico ao avançado sobre conceitos de User Experience e User Interface, criando
                    wireframes, desenhando protótipos, entre outras coisas.</p>
            </div>
        </div>
        <div class="card-course flex">
            <img class="left-icon" src="" alt="">
            <div class="text">
                <h3>UX/UI Design</h3>
                <p>Aprenda do básico ao avançado sobre conceitos de User Experience e User Interface, criando
                    wireframes, desenhando protótipos, entre outras coisas.</p>
            </div>
        </div>
    </div>
    <div class="button flex">
        <p>Todos os Cursos</p>
        <div class="arrow flex">></div>
    </div>
</div>