<div class="background">
    <div class="main flex">
        <div class="left flex">
            <div class="text flex">
                <h1>Aprenda e ensine, cuide do seu futuro e do próximo</h1>
                <p>Simplificamos o acesso para que a comunidade consiga compartilhar seus conhecimentos, ajudando aos
                    demais
                    de
                    forma
                    gratuita. Nexus Studium, todos conectados!</p>
            </div>
            <div>
                <h2>1M+</h2>
                <p>Estudantes</p>
            </div>
            <div>
                <h2>50+</h2>
                <p>Cursos</p>
            </div>
        </div>
        <div class="right">
            <img class="main-ilustration" src="/main-ilustration.svg" alt="Ilustração Principal">
        </div>
    </div>
</div>