<div class="sidebar flex">
    <div class="profile">
        <div class="flex">
            <img src="/logomarca.png" alt="Logo Nexus Studium" width="50px">
            <p class="nexus">Nexus Studium</p>
        </div>
        <div class="user flex">
            <img src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto de Perfil" class="profile-photo" width="85px" height="85px">
            <h2>Olá, Fulano!</h2>
            <p>email&#64;email.com</p>
            <div class="profile-btn">Perfil</div>
        </div>
    </div>
    <div class="total-hour flex">
        <h4>Total de Horas</h4>
        <h2>122</h2>
    </div>
    <nav>
        <ul class="menu flex">
            <li> <a href="#">Dashboard</a> </li>
            <li> <a href="#">Cursos</a> </li>
            <li> <a href="#">Artigos</a> </li>
            <li> <a href="#">Exercícios</a> </li>
            <li> <a href="#">Comunidade</a> </li>
            <li> <a href="#">Suas Contribuições</a> </li>
            <li> <a href="#">Configurações</a> </li>
        </ul>
    </nav>
</div>