* {
  box-sizing: border-box;
  font-family: "ABeeZee", Arial, Helvetica, sans-serif;
  color: #E8F4FC;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

.carousel {
  padding: 50px;
  overflow: hidden;
}

.cards-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  gap: 50px;
  width: min-content;
  margin: 0 0 50px 35%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 415px;
  height: 480px;
  background-color: #2A5D84;
  border-radius: 20px;
  padding: 20px;
}

.user {
  gap: 10px;
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.stars {
  gap: 10px;
  margin-bottom: 10px;
}

.testimonial {
  font-size: 18px;
}

.course {
  background-color: #9747FF;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  font-size: 12px;
}

.buttons-container {
  justify-content: center;
  gap: 20px;
}

.btn {
  width: fit-content;
  background-color: #2A5D84;
  color: #E8F4FC;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}